.dashboardItemsContainer{
    padding: 30px;
    width: 80vw;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
}
.dashboardHeading{
    font-size: 35px;
}
.dashboardCardContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17vw , 1fr));
    column-gap: 20px;
    row-gap: 30px;
    margin: 20px 0px;
    /* padding: 40px; */
}