.itemContainer{
    padding: 40px;
    width: 80vw;
    height: calc(100vh - 70px);
    position: relative;
    top: 70px;
}
.itemHeading{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}
.btn2{
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    background-color:rgb(16,21,64); ;
}